<div class="container d-flex flex-column justify-content-center text-center align-item-center">

<h1>Result</h1>
<p><%= @message %></p>
<div>
<%= link_to 'Play Again', new_path, class: 'btn btn-primary'%>
</div>
</div>